<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hey <%= @user.email.split("@")[0].capitalize! %>,</h4>
    <p>
      We want you know that you will have a new vesting of <strong><%= @pool.project %></strong> today.
    </p>
    <h4>
      Do not forget to claim your tokens.
    </h4>
    <p>
      Update your result <%= link_to "here", @url %>.
    </p>
    <p>
      <i>
      Thank you to be with us,<br/>
      MyInvests Team!
    </i>
    </p>
  </body>
</html>
