<% content_for :title, "New Vesting" %>
<div class="container mb-4">
  <div class="masthead-heading text-center text-uppercase text-secondary mb-0">
    <h2><%= @pool.project %></h2>
    <h5>New vesting</h5>
  </div>
  <div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
  </div>
  <div class="px-3">
    <%= render "form", pool: @pool, vesting: @vesting %>
  </div>
</div>
