<footer class="text-center text-lg-start text-white mt-auto"
        style="background-color: #2c3e50">
  <div class="p-3 pb-0">
    <div class="row">
    <!--hr class="mb-4" /-->

      <div class="col-lg-6 mb-3 text-center">
        <a
           class="btn btn-outline-light btn-social m-1"
           href="https://facebook.com/loki9x"
           role="button"
           ><i class="fab fa-facebook-f"></i
          ></a>
        <a
           class="btn btn-outline-light btn-social m-1"
           href="https://twitter.com/TuenFV"
           role="button"
           ><i class="fab fa-twitter"></i
          ></a>
        <a
           class="btn btn-outline-light btn-social m-1"
           href="https://t.me/loki9x"
           role="button"
           ><i class="fab fa-telegram"></i
          ></a>
        <a
           class="btn btn-outline-light btn-social m-1"
           href="https://github.com/TuenFV"
           role="button"
           ><i class="fab fa-github"></i
          ></a>
      </div>

      <div class="col-lg-6 mb-0">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-2">Register free</span>
          <%= link_to "Sign up!", new_user_registration_path, class:"btn btn-outline-light btn-rounded" %>
        </p>
      </div>
    </div>
  </div>

  <div class="copyright text-center p-2">
    <small>Copyright &copy; MyInvests 2022</small>
  </div>
</footer>
