<!-- Footer-->
<footer class="footer text-center">
  <div class="container">
    <div class="row">
        <!-- Footer Location-->
        <div class="col-lg-4 mb-3 mb-lg-0">
            <h5 class="text-uppercase mb-2">Your Invests</h5>
            <p>Keep going...</p>
        </div>
        <!-- Footer Social Icons-->
        <div class="col-lg-4 mb-3 mb-lg-0">
            <h5 class="text-uppercase mb-3">My Social</h5>
            <a class="btn btn-outline-light btn-social mx-1" href="https://facebook.com/loki9x"><i class="fab fa-fw fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/TuenFV"><i class="fab fa-fw fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-social mx-1" href="https://t.me/loki9x"><i class="fab fa-fw fa-telegram"></i></a>
            <a class="btn btn-outline-light btn-social mx-1" href="https://my-invests.herokuapp.com"><i class="fab fa-fw fa-dribbble"></i></a>
        </div>
        <!-- Footer About Text-->
        <div class="col-lg-4">
            <h5 class="text-uppercase mb-2 mt-1">Tell us more</h5>
            <p class="mb-0">
                We are here together with you. <br>
                Do not hesitate to require from us more & more.
            </p>
        </div>
    </div>
  </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-2 text-center text-white">
  <div class="container"><small>Copyright &copy; MyInvests 2022</small></div>
</div>

